name: Update Fork
on:
  schedule:
    - cron:  '0 7 * * 0'
    # scheduled at 07:00 every Monday and Thursday
  workflow_dispatch:

jobs:
  sync_with_upstream:
    runs-on: ubuntu-latest
    name: Sync master with upstream latest

    steps:
    - name: Checkout master
      uses: actions/checkout@v4.1.6
      with:
        ref: main
        fetch-depth: 0 # This ensures a full clone instead of a shallow one
        
    - name: Pull upstream changes
      id: sync
      uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
      with:
        target_sync_branch: main
        # REQUIRED 'target_repo_token' exactly like this!
        target_repo_token: ${{ secrets.GITHUB_TOKEN }}
        upstream_sync_branch: main
        upstream_sync_repo: bradodarb/pyflink-example:mains

        # Set test_mode true to run tests instead of the true action!!
        test_mode: false

    - name: Timestamp
      run: date
